# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\OneDrive - ITESO\- Semestre 4\Fundamentos-de-Sistemas-Digitales-Vivado\Alarma\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
